###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit*
/phpunit.xml
###< symfony/phpunit-bridge ###
.vscode
.composer.lock
composer.lock
node_modules/
symfony.lock
phpunit*
yarn.lock
.scannerwork/.sonar_lock
.scannerwork/report-task.txt

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
public/uploads/plantes/*
.idea/*
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.validation.prefs
.buildpath
.project
