###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit*
/phpunit.xml
###< symfony/phpunit-bridge ###
.vscode
.composer.lock
composer.lock
symfony.lock
phpunit*
yarn.lock

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
.settings/
.buildpath
.project
.env.test
public/uploads/*
doc/Specs_1.0.docx

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
