tr td.tdlabel {
    padding: 0.75rem 0 0.75rem 0 !important;
    margin: 0 !important;
}

.td1 {
    width: 20%;
}

.td2 {
    width: calc(80% / 12);
    text-align: center;
}

.td3 {
    width: calc(80% / 12);
    text-align: center;
}

.lbl {
    padding: 0.33rem;
    width: 2rem;
}

.active-color {
    background-color: rgb(0, 200, 0);
}
