{% for lien in liens %}
    <a class="dropdown-item" target="blank" href="{{ lien.url }}">
        <i class="fas fa-link"></i> {{ lien.libelle }}
    </a>
{% endfor %}
{% if liens|length > 0 %}
    <div class="dropdown-divider"></div>
{% endif %}