{% extends 'layout.html.twig' %}

{% block content %}
    <div class="rowcol mt-4 mb-4">
        <h3 class="text-primary"><i class="fas fa-file-invoice"></i> {{ page_title }}</h3>
        <div class="d-none text-primary spinner-border spinner-border-sm mx-3 align-self-center" id="loadingDiv"></div>
    </div>
    {% if annees | length > 0 %}
        <ul class="list-group list-group-flush">
        {% for annee in annees %}
            <a href="{{ path('user_rapport', { id: majeur.id, annee: annee }) }}" class="list-group-item">Exercice {{ annee }}</a>
        {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-info" role="alert">
            Aucun rapport à générer
        </div>
    {% endif %}
{% endblock %}
