<div class="row">
    <div class="col-2 text-center">
        <img class="mx-3" src="{{ absolute_url(asset("images/mjpm.png")) }}" width="64" height="64">
    </div>
    <div class="col-10">
        <div class="row">
            <div class="col text-center">
                <h4 class="text-primary">FICHE DE FRAIS {{ fiche.libelle}}</h4>
            </div>
        </div>
    </div>
</div>
